.auth-nav {
   // display: flex;
   // flex-direction: column-reverse;
   // display: inline-flex;
   // margin-left: auto;
   // gap: 50px;
   @media screen and (min-width: 480px){
      
   }
   @media screen and (min-width: 768px){
         
   }
   @media screen and (min-width: 1200px){
      
   }
}

.auth-nav__link {
   color: #757575;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.16;
   // // // font-size: 14px;
   // // // line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;

   transition: color $cubic;
   // margin-bottom: 34px;
}
.auth-nav__link-phone{
   

   // font-size: 34px;
   // line-height: 1.17;

   color: #2196F3;
}
.auth-nav__item-phone{
   // margin-bottom: 34px;
}



.auth-nav__link {
   // display: flex;
   // color: $primary-text-color;
   

   &:hover, &:focus{
      color: $accent-color;
   }
}

.auth-nav__icon{


   @media screen and (max-width: 767px) {
      display: none;
   }
   // display: none;
   @media screen and (min-width: 480px){
      
   }
   @media screen and (min-width: 768px){
      // display: block;
      // width: 16px;
      // height: 12px;
      // margin-right: 10px;
   
      // fill: $primary-text-color;

      // transition: fill $cubic;

   .auth-nav__link:hover &, 
   .auth-nav__link:focus & {
      fill: $accent-color;
   }
   }
   @media screen and (min-width: 1200px){
      
   }
}
.auth-nav__icon--phone{
   
   @media screen and (min-width: 480px){
      
   }
   @media screen and (min-width: 768px){
      width: 10px;
      height: 16px;
   }
   @media screen and (min-width: 1200px){
      
   }
}