.hero{
   max-width: 1600px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 118px;
   padding-bottom: 118px;

   background-image: linear-gradient(to bottom, $color-gradient),
   url(../images/hero/hero-img_sm.jpg);

   @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, $color-gradient),
         url(../images/hero/hero-img_sm@2x.jpg);
      }
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
   text-align: center;
   
   

   @media screen and (min-width: 768px){
      padding-top: 118px;
      padding-bottom: 118px;

      background-image: linear-gradient(to bottom, $color-gradient),
         url(../images/hero/hero-img_md.jpg);

      @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
         background-image: linear-gradient(to bottom, $color-gradient),
            url(../images/hero/hero-img_md@2x.jpg);
         }
   }
   @media screen and (min-width: 1200px){
      padding-top: 200px;
      padding-bottom: 200px;

      background-image: linear-gradient(to bottom, $color-gradient),
         url(../images/hero/hero-img_lg.jpg);

      @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
         background-image: linear-gradient(to bottom, $color-gradient),
            url(../images/hero/hero-img_lg@2x.jpg);
         }
      }
}

.hero{

}
.page-hero__title{
   width: 100%;
   
   margin-top: 0;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;

   color: $background-color;

   font-weight: 900;
   font-size: 26px;
   line-height: 1.62;

   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   
   @media screen and (min-width: 480px){
      width: 360px;
   }
   @media screen and (min-width: 1200px){
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
   }
}
.page-hero__button{
   padding: 10px 32px;
   min-width: 200px;

   background-color: $accent-color;
   color: $background-color;

   font-weight: 700;
   line-height: 1.88;
   letter-spacing: 0.06em;
}