.client__list{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
.client__item{
   width: 170px;
   height: 92px;
}
.client__link{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   border: 1px solid $icon-color;
   border-radius: 4px;
   fill: $icon-color;

   transition: fill $cubic, border $cubic;

   &:hover, &:focus{
   border: 1px solid $accent-color;
   fill: $accent-color;
   }
}